{% load static %}
<nav class="fixed w-full bg-primary-500 h-12 top-0 flex flex-inline gap-x-2 my-auto pl-4">
    <button class="my-auto text-primary-100 hover:bg-primary-200 hover:text-primary-700 py-1 px-3 rounded hover:cursor-pointer">
        Homepage
    </button>
    <button class="my-auto text-primary-100 hover:bg-primary-200 hover:text-primary-700 py-1 px-3 rounded hover:cursor-pointer">
        Profile
    </button>
    <button>

    </button>
    <div class="ml-auto flex">
        <input type="search" placeholder="Search site" class="rounded bg-primary-100 my-auto focus:border focus:border-primary-600 h-8 focus:ring-primary-600">
        <button class="ml-auto mr-2 my-auto text-primary-100 hover:bg-primary-200 hover:text-primary-700 py-1 px-3 rounded hover:cursor-pointer">Logout</button>
    </div>
</nav>